.applied{

    &__hintBox{
        display: flex;
        justify-content: flex-end;
        position: relative;
        align-items: center;
    }
    &__hintLink{
        color: $color-primary-dark;
        font-size: 1.4rem;
        margin-left: 1rem;

    }
    &__hint{
        display: none;
        width: 20rem;
        position: absolute;
        right: -210px;
        top: 10px;
        background-color: #fff;
        min-height: 6rem;
        box-shadow: 0px 8px 18.9px 2.1px rgba(67, 67, 67, 0.09);
        padding: 1rem;
        border-radius: 1rem;
    }

    &__title{
        text-align: center;
        color: $color-gray-dark;
        font-size: 2rem;
        margin-bottom: 2rem;

    }
    &__form{
        padding: 5rem 0;
        &--inner{
            text-align: left;
            padding: 4rem;
            border: 1px solid #ddd;
            max-width: 60rem;
            margin: 0 auto;
            border-radius: 1rem;
            @include respond(phone) {
                padding: 4rem 1rem;
              }
        }
        &--title{
            text-align: center;
            margin-bottom: 2rem;
            
            color: $color-gray-dark;
            // text-transform: lowercase;
            // &:first-letter {
            //     text-transform: uppercase;
            //   }
        }
        &--box{
            margin-bottom: 1rem;
        }
    }
   
}

.viewCV{
    display: none;
    color: $color-primary-dark;
    font-size: 1.4rem;
}