.login-register{
  height: 100vh;
  overflow: hidden;
  @include respond(phone-land) {
    overflow: auto;
  }
  @include respond(tab-port) {
    overflow: auto;
   
  }
   &__box{
    display: flex;
   
    width: 100%;
       &--img{
        background-image: url(../../images/loguser-min.jpg);
        background-size: cover;
       padding: 12rem 15rem 4rem 15rem;
        width: 50%;
        @include respond(phone) {
            display: none;
          }
          @include respond(phone-land) {
            display: none;
          }
        @include respond(tab-port) {
            display: none;
          }   
       }
       &--img1{
        background-image: url(../../images/emp-min.jpg);
        background-size: cover;
       padding: 12rem 15rem 4rem 15rem;
        width: 50%;
        @include respond(phone) {
            display: none;
          }
          @include respond(phone-land) {
            display: none;
          }
        @include respond(tab-port) {
            display: none;
          }   
       }
       &--text{
           color: $color-white;
           text-align: center;
           font-size: 2rem;
           @include respond(phone) {
            color: $color-gray;
            padding-bottom: 3rem;
            font-size: 1.3rem;
          }
          @include respond(phone-land) {
            color: $color-gray;
            padding-bottom: 3rem;
            font-size: 1.3rem;
          }
          @include respond(tab-port) {
            color: $color-gray;
            padding-bottom: 3rem;
            font-size: 1.5rem;
          }
       }
       &--title{
           font-size: 4.5rem;
           padding-bottom: 7rem;
           @include respond(phone) {
            padding-bottom: 3rem;
            font-size: 3rem;
            color: $color-primary-dark;
          }
          @include respond(phone-land) {
            padding-bottom: 3rem;
            font-size: 3rem;
            color: $color-primary-dark;
          }
          @include respond(tab-port) {
            padding-bottom: 3rem;
            font-size: 3rem;
            color: $color-primary-dark;
          }
          
       }
       &--form{
        background-image: url(../../images/fon1-min.jpg);
        background-size: cover;
        padding:2rem 10rem;
        width: 50%;
        // position: relative;

        @include respond(phone) {
            width: 100%;
            background-color: #eeeff1;
            padding: 0 2rem;
           
          }
          @include respond(phone-land) {
            width: 100%;
            background-color: #eeeff1;
            padding: 0 5rem 30rem 5rem;
           
          }
          @include respond(tab-port) {
            width: 100%;
            padding: 0 8rem 20rem 8rem;
            background-color: #eeeff1;
           
          }
          
        
       }
   }
   &-card{
    perspective: 150rem;
    position: relative;
    height: 100vh;
   display: flex;
   align-items: center;
    &__side{
        height: 100vh;
        background-color:transparent;
        transition: all .8s ease;
        position: absolute;
        top: 22%;
        left: 0;
        width: 100%;
        backface-visibility: hidden;

        &--front{
            background-color: transparent;
            // padding-top: 8rem;
            @include respond(tab-port) {
                padding: unset;
               
              }
              @include respond(phone) {
                top: 11%;
               
              }
             
            
        }
        &--back{
            background-color: transparent;
            transform: rotateX(180deg);
            top: 10%;
            // padding-top: 2rem;
            @include respond(tab-port) {
                padding-top: 12rem;
               
              }
              @include respond(phone) {
               
               
              }
            
        }
    }
}

}

.login__title{
    text-align: center;
    padding-bottom: 4.5rem;
    font-family: comfortaa-b;

}

.goToSignUp{
    padding-top:12rem; 
}
.copyright{
    padding-top: 14rem;
    color: $color-white;
    font-size: 1.5rem;
}
.forgot__pass{
    color: $color-gray;
    padding: 0 2rem;
    font-size: 1.5rem;
}
.message{
  margin-left: 1.6rem;
  font-size: 1.4rem;
  cursor: pointer;
    @include respond(phone) {
       padding-top: .5rem;
       padding-left: .5rem;
      }
      @include respond(tab-port) {
        padding-top: .5rem;
        padding-left: .5rem;
      }
}
.form-additional-message{
    font-size: 1.5rem;
    color: $color-gray;
   padding-top: 3rem;
    padding-left: 3rem;
    &__link{
        color: $color-gray;  
        display: inline-block;
        position: relative;
        text-decoration: none;
        font-weight: bold;
        &:hover{
            color: $color-primary-dark;
            text-decoration: none;
        }
        &:before {
            display: block;
            position: absolute;
            content: "";
            height: 2px;
            width: 0;
            background: $color-primary-dark;
            transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
            left:0;
            bottom: 0;
        }
        &:hover:before {
            width: 100%;
            
        }
    }
}


.btn-group{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    &--around{
        justify-content: space-around;
    }
}
.signUpText{
    display: none;
}

.get-password{
  display: none;
  margin-top: 10rem;
  @include respond(tab-port) {
    margin-top: 0;
   
  }
}
.refresh-password{
  display: none;
  margin-top: 10rem;
}
.user__accept{
  width: 2rem;
  height: 2rem;
  margin-top: .1rem;
  cursor: pointer;
}

.visible{
  color: $color-primary-dark;

  white-space: nowrap;
}
.help-block{
  
}
.help-block.form-field-error-label {
  color: $color-primary-dark;
 display: block;
  white-space: nowrap;
}

.go-back{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.8rem;
  color: $color-white;
  background-color: $color-primary-dark;
  line-height: 18px;
  padding: 1rem 2rem;
  &:hover{
    color: $color-white;
  }
}

.change-view{
  cursor: pointer;
}
.insd-box{
    position:relative;
    margin-bottom:10px;

    &__btn{
      position:absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      border:none;
      background-color: transparent;
      width:20px;
      border-radius:50%;
      outline:none;
      text-align:center;
      font-weight:bold;
      padding:2px;
      line-height: normal;
      cursor: pointer;
      &:focus{
        outline: none;
      }
    }


}

.has-error .insd-box__btn{
  top: 30%!important;
}