body{
    padding-top:2rem;
}

h1{
    font-size:1.5rem;
    color: black;
    font-weight:700;

    &:hover{
    color: #B40D4A;
    }

    
}

// autocomplete

.autocomplete{
    &__input{
        width:170px;
        height:30px;
        font-size: 1.3rem;
    }
   
    
}

.md-form label, .md-form label.active {
    font-size: 1.2rem;
}


//checkbox
.form-check{
    display: flex;
    flex-direction: column;
    margin-bottom:3rem;

   &-label{
font-size:1.4rem;
color: #6D6F71;
   }

   &__items{
       margin-bottom:.8rem;
   }

}

.form-check-input[type=checkbox]:checked+label:before, label.btn input[type=checkbox]:checked+label:before {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 12px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #B40D4A;
    border-bottom: 2px solid #B40D4A;
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-origin: 100% 100%;}

    .form-check-input[type=checkbox]+label:before, .form-check-input[type=checkbox]:not(.filled-in)+label:after, label.btn input[type=checkbox]+label:before, label.btn input[type=checkbox]:not(.filled-in)+label:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 13px;
        height: 13px;
        z-index: 0;
        border: 2px solid #8a8a8a;
        border-radius: 1px;
        margin-top: px;
        transition: .2s;
    }

    //input
    .md-form.form-sm label {
        font-size: 1.2rem;

        &.active{
            font-size:1.2rem;
            color:#8a8a8a;
        }
    }

    #inputSMEx{
        font-size: 1.3rem;
        width:170px;
        margin-bottom:2rem;
    }

    //card

    .card{
height:120px;

&-foot{
    margin-left:3rem;
}

&-btn{
    float:right;
    margin-top:-5rem;
    background-color: transparent;
    width:90px;
    font-size: 17px;
    color: #000;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

        &-icon{
            float:left;

            &__star{
                color:#f71c52;
                font-size:2rem;
            }

        }

        a{
            color:#606161;
        }

        p{
            margin-top:1rem;
            margin-bottom:1rem;
        }

        &-jobs {

           margin-left:3rem;

            &__salary{
                color:#b40d4a;
                font-weight:bold;
                font-size:1.64rem;
                float: right;
                margin-top:-3.2rem;
            }

            &__name {
                font-size:1.5rem;
                display:inline-block;
                color: black;
                text-decoration:none;
                color:#606161;
            }
            
        &__company{
            font-size:1.5rem;
            color:#606161;
        }
    }
}

  .text-center{
      text-align: left !important;
  }

  .rounded-bottom{
      margin-top:3rem;
      background-color:white!important;
  }

  .footer-icon{
      color:#f71c52;
      margin-right:.5rem;
  }

 .btn-primary, .btn-primary:active, .btn:active{
     background-color: #b40d4a !important;
     font-size:1.2rem;
     border-radius:8px;
 }

 .btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #b40d4a !important;
}

.mdb-color.lighten-3 {
    background-color: white !important;
}
  
.list-inline-item{
    margin-top:-2rem;
    color:#606161;
    font-size:1.5rem;
}